<h1>Add A Meal</h1>

<% if @meal.errors.any? %>
  <ol>
    <% @meal.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ol>
<% end %>

<%= form_for @meal do |f| %>
  <div class="form_group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control", :required => true%>
  </div>

  <div class="form_group">
    <%= f.label :quantity_in_stock %>
    <%= f.number_field :quantity_in_stock, :class => "form-control" %>
  </div>

  <div class="form_group">
    <%= f.label :quantity_required %>
    <%= f.number_field :quantity_required, :class => "form-control" %>
  </div>

  <div class="form_group">
    <%= f.label :base_price %>
    <%= f.number_field :base_price, :step => :any, :class => "form-control" %>
  </div>

  <div class="form_group">
    <%= f.label :sales_price %>
    <%= f.number_field :sales_price, :step => :any, :class => "form-control" %>
  </div>

  <%= f.submit "Add Meal!", :class => "btn btn-primary"%>

<% end %>
