<h1>Ingredients for <%= @meal.name.downcase.split(" ").map {|s| s.capitalize}.join(" ") %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Ingredient</th>
      <th scope="col">Quantity in Stock</th>
      <th scope="col">Quantity Required</th>
      <th scope="col">Supplier</th>
      <th scope="col">Price</th>
      <th scope="col">Atomic Unit</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @meal.ingredients.each do |ingredient| %>
      <tr>
        <td><%= link_to ingredient.name, ingredient %></td>
        <td><%= pluralize ingredient.quantity_in_stock, ingredient.unit_of_measurement %></td>
        <td><%= pluralize ingredient.quantity_required, ingredient.unit_of_measurement %></td>
        <td><% if ingredient.supplier_url.present? %>
          <%= link_to(ingredient.supplier, ingredient.supplier_url) %>
        <% else %>
          <%= ingredient.supplier_email %>
        <% end %></td>
        <td><%= "#{number_to_currency ingredient.price} / #{ingredient.unit_of_measurement}" %></td>
        <td><%= pluralize ingredient.atomic_unit, ingredient.unit_of_measurement %></td>
        <td>
          <div class="row" style="text-align:center;">
            <%= link_to "Edit", edit_ingredient_path(ingredient) %>
            <%= button_to "Delete", ingredient, :method => 'delete', :style => "margin-left:1em;"%>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
